{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="recipe">
    <div class="container">
        <div class="card">
            <img src='/{{recipe_image.image}}' alt='{{recipe.name}}'>
        </div>
        <div>
            <h1>{{ recipe.name }}</h1>
            <p>{{ recipe.meal_description }}</p>

            <h2>Składniki na {{ dynamic_portions }}
                {{ portions_grammar_name }}:</h2>

            <p>Gotujesz na więcej osób? Przelicz potrzebne składniki</p>
            <form method="post" action="">
                {% csrf_token %}
                <button class="btn-outline" value="more" name="modify_servings"><i class="fas fa-plus"></i></button>
                <button class="btn-outline" value="less" name="modify_servings"><i class="fas fa-minus"></i></button>
            </form>

            <ul>
                {% for recipe_ingredient in recipe_ingredients_data %}
                    <li>
                        <p><i class="fas fa-seedling"></i>
                        {% if recipe_ingredient.requires_display %}
                            {% if recipe_ingredient.has_decimal_place %}
                                    {{ recipe_ingredient.decimal }}
                                {% if recipe_ingredient.fraction %}
                                    i {{ recipe_ingredient.fraction }}
                                {% endif %}
                            {% else %}
                                {{ recipe_ingredient.fraction }}
                            {% endif %}
                        {% endif %}
                        {% if recipe_ingredient.requires_measure_name %}
                            {{ recipe_ingredient.measure_name }}
                        {% endif %}
                        {% if recipe_ingredient.ingredient.is_searchable %}
                            <a href="#">
                        {% endif %}
                        {{ recipe_ingredient.ingredient_name }}
                    {% if recipe_ingredient.ingredient.is_searchable %}
                        </a>
                    {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>

            <h2>Przygotowanie</h2>
            <p>Czas przygotowania:
                {% if recipe.prep_time_hours.has_hours == True %}
                    {{ recipe.prep_time_hours.hours }} godz. {{ recipe.prep_time_hours.minutes }} min
                {% else %}
                    {{ recipe.prep_time_hours.minutes }} min
                {% endif %}
            </p>
            <p>{{ recipe.prep_instructions }}</p>
        </div>
    </div>

</section>

{% endblock %}