{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="recipe">
    <div class="container">
        <div class="card">
            <img src='/{{recipe_image.image}}' alt='{{recipe.name}}'>
        </div>
        <div>
            <h1>{{ recipe.name }}</h1>
            <p>{{ recipe.meal_description }}</p>

            <h2>Składniki na {{ dynamic_portions }}
                {{ portions_grammar_name }}:</h2>

            <div class="recalculate">
                <p>Gotujesz na więcej osób? Przelicz potrzebne składniki</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <button class="btn-outline" value="more" name="modify_servings"><i class="fas fa-plus"></i></button>
                    <button class="btn-outline" value="less" name="modify_servings"><i class="fas fa-minus"></i></button>
                </form>
            </div>

            <ul>
                {% for ingredient_data in recipe_ingredients_data %}
                    <li>
                        <p><i class="fas fa-seedling"></i>
                        {% if ingredient_data.requires_display %}
                            {% if ingredient_data.has_decimal_place %}
                                    {{ ingredient_data.decimal }}
                                {% if ingredient_data.fraction %}
                                    i {{ ingredient_data.fraction }}
                                {% endif %}
                            {% else %}
                                {{ ingredient_data.fraction }}
                            {% endif %}
                        {% endif %}
                        {% if ingredient_data.requires_measure_name %}
                            {{ ingredient_data.measure_name }}
                        {% endif %}
                        {% if ingredient_data.recipe_ingredient.ingredient.is_searchable %}
                            <a href="/skladnik/{{ ingredient_data.recipe_ingredient.ingredient.slug }}/">
                        {% endif %}
                        {{ ingredient_data.ingredient_name }}
                    {% if ingredient_data.recipe_ingredient.ingredient.is_searchable %}
                        </a>
                    {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>

            <h2>Przygotowanie</h2>
            <p>Czas przygotowania:
                {% if recipe.prep_time_hours.has_hours == True %}
                    {{ recipe.prep_time_hours.hours }} godz. {{ recipe.prep_time_hours.minutes }} min
                {% else %}
                    {{ recipe.prep_time_hours.minutes }} min
                {% endif %}
            </p>
            <p>{{ recipe.prep_instructions }}</p>
        </div>
    </div>

</section>

{% endblock %}