@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #758646;
    --dark-color: #344620;
    --dark-text: #0A1128;
    --bright-color: #F3E9DC;
    --white: #fff;
    --black: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

/* navbar styling */

.navbar {
    background-color: var(--primary-color);
    color: var(--dark-color);
    height: auto;
    font-weight: 400;
    padding: 10px 0;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar .flex {
    justify-content: space-between;
}

ul#top-menu{
    margin:0;
    padding:0;
}

ul#top-menu li {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
    position:relative;
}

ul#top-menu .drop a {
    width: 150px;
    display: block;
    padding: 5px;
}

ul#top-menu .drop a:hover {
    border-bottom: none;
}

ul#top-menu li ul.drop{
    margin:0;
    padding:0;
    width:150px;
    position:relative;
    display:none;
}

ul#top-menu li ul.drop ul{
    margin:0;
    padding:0;
    width:150px;
    position:absolute;
    display:none;
    left:150px;
    top:0;
}

ul#top-menu li ul li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
}


.navbar a {
    color: var(--bright-color);
    padding: 5px;
    margin: 5px;
}

.dropbtn,
.subnavbtn {
    color: var(--bright-color);
    padding: 10px;
    margin: 0 5px;
    background-color: inherit;
    font: inherit;
    border: none;
}

.navbar a:hover {
    border-bottom: 1px var(--bright-color) solid;
}

.logo {
    color: var(--bright-color);
}

.navbar .search input {
    background: transparent;
    border-width: 0 0 1px;
    border-color: var(--bright-color);
    outline: 0;
    color: var(--bright-color);
}

.navbar .search input {
    background: transparent;
    border-width: 0 0 1px;
    border-color: var(--bright-color);
    outline: 0;
}

.navbar .search input::placeholder,
.navbar .search input {
    color: var(--bright-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar .search button {
    padding: 10px 0 10px 10px;
}

.navbar #search-form {
    float: right;
}
    

/* login */

.log {
    height: 50px;
}

.log a:hover {
    border-bottom: none;
}

.log p,
.log button {
    padding: 0;
    margin: 0 0 5px 0;
}


/* recipe */

.recipe {
    padding: 30px 0;
    color: var(--dark-text);
    background-color: var(--white);
    position: relative;
}

.recipe h1 {
    font-size: 30px;
    display: inline-block;
}

.recipe h1::first-letter {
    text-transform: uppercase;
}

.recipe h2 {
    font-size: 22px;
    padding-top: 0.5rem;
}

.recipe p {
    text-align: justify;
    text-justify: inter-word;
}

.recipe a {
    position: relative;
    color: var(--dark-color);
}

.recipe a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.recipe a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.recipe li {
    list-style-type: none;
    margin-left: 10px;
}

.recipe i {
    color: var(--primary-color);
    margin: 0 5px;
}

.recipe .recipe-category {
    font-size: 22px;
}

.recipe .card {
    float: right;
    margin-left: 3%;
    margin-bottom: 3%;
}

.recipe button {
    transition: transform 0.2s ease-in;
}

.recipe .recalculate p,
.recipe .recalculate form {
    display: inline-block;
}

/* category*/

.card h4 {
    display: inline-block;
}

.card h4::first-letter {
    text-transform: uppercase;
}

/* search results */

.search-results h4 {
    display: inline-block;
}

.search-results h4::first-letter {
    text-transform: uppercase;
}

/* form */

.form.card {
    width: 50rem;
}

.form input[type=text],
.form input[type=submit],
.form textarea,
.form label{
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* login */

.login.card {
    width: 20rem;
    position: center;
    margin: 3rem;
}

.login label,
.login input {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 15px 0;
}


/* footer */

.footer {
    margin-top: auto;
}

.recipe .recalculate {
    margin-bottom: 1rem;
}

.footer a {
    margin: 0 5px;
    padding: 10px;
}

.footer .social a {
    transition: transform 0.2s ease-in;
}

.footer div,
.footer ul {
    display: flex;
}

.footer .flex {
    justify-content: space-between;
}

.footer nav a:hover {
    border-bottom: 1px var(--bright-color) solid;
}

.footer .social a:hover {
    transform: translateY(-5px);
}

/* utilities */

.bg-dark {
    background-color: var(--dark-color);
    color: var(--bright-color);
}

.bg-dark a {
  color: var(--bright-color);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: var(--white);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
}

img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    object-position: 50% 50%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--white) solid;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.uppercase-first a{
    display: inline-block;
}

.uppercase-first a::first-letter {
    text-transform: uppercase;
}

/* margin */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* padding */

.my-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}
