{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vegelastic</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<!--Navigation bar-->
<div class="navbar">

    <div class="grid grid-3 container flex">
        <div>
            <h1 class="logo">Vegelastic</h1>
        </div>

        <div>
            <nav>
                <ul>
                    <li><a href="/kategorie/">Kategorie</a></li>
                    <li><a href="#">O autorce</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </div>

        <div class="search">
            <form action="/szukaj/" method="post">
                {% csrf_token %}
                <input class="" type="search" name="searched" placeholder="Szukaj...">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

    </div>

</div>

{% if user.is_authenticated %}
    <div class="navbar log">

        <div class="grid grid-3 container flex">

            <div>
                <p>Witaj, {{ user.username }}</p>
            </div>

            <div>
                <a href="/logout"><button class="btn">Wyloguj się</button></a>
            </div>

        </div>

    </div>

{% endif %}

<div>
<!-- Page content will be loaded here -->
{% block content %}
{% endblock %}
</div>

<!-- footer -->
<footer class="footer bg-dark py-2">

    <div class="container grid grid-3 flex">

        <div>
            <h1>Vegelastic</h1>
        </div>

        <div>
            <nav>
                <ul>
                    <li><a href="#">Strona główna</a></li>
                    <li><a href="/kategorie/">Kategorie</a></li>
                    <li><a href="#">O autorce</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <div class="social">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>

    </div>

</footer>
</body>
</html>