{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <div class="login card">
        <h2 class="md text-center my-2">Zaloguj się</h2>
        <form action="" method="post">

            {% csrf_token %}
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Zaloguj" class="btn">

        </form>
    </div>
</div>

{% endblock %}